
@media (min-width: 1080px) {
  #phone {
    width: 70%;
    position: absolute;
    top: -25em;
    right: -35em;
  }
  
  #laptop {
    width: 65%;
    top: -25em;
  }
}

@media (min-width: 1500px) {
  #phone {
    max-width: 65%;
    position: absolute;
    top: -30em;
    right: -45em;
  }

   #laptop {
    width: 65%;
    top: -30em;
  }
  
}

@media (max-width: 767px) {
  nav a {
    text-align: center;
  }
  
  .intro-signup-item {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .phone-container {
    position: static;
    margin: 0 auto;
  }
  
  #phone {
    max-width: 50%;
    position: static;
  }
  
  .empty-space {
    height: 20em;
  }
  
  #laptop {
    top: -20em;
  }

  .thankyou-container {
    text-align: center;
  }

  .each-company-logo {
    margin: 2%;
  }
}