nav a {
  color: black;
}

.page-container {
  margin: 20px auto;
}

.container-fluid {
  padding: 0 10%;
}

.intro-signup-container {
  background-color: #f7f7f7;
}

.intro-signup-item {
  width: 50%;
  margin: 0 5%;
  padding: 8% 5%;
}

.phone-image {
  padding: 0 10%;
}

.phone-container {
  position: relative;
}

#phone {
  max-width: 60%;
  position: absolute;
  top: -20em;
  right: -26em;
}

.links-container {
  margin: 20px 40px;
  padding: 3% 5%;
}

.links-container img {
  display: block;
  margin: 10% auto;
}

.laptop-container {
  margin: 10% 0;
}
.laptop-container img {
  display: block;
  margin: auto;
  max-width: 100%;
}