nav a {
  color: black;
}

.page-container {
  margin: 20px auto;
}

.container-fluid {
  padding: 0 10%;
}

.intro-signup-container {
  background-color: #f7f7f7;
}

.intro-signup-item {
  width: 50%;
  margin: 0 5%;
  padding: 8% 5%;
}

.intro-signup-item p {
  color: #BCBDBD;
  font-size: 18px;
}

#underLine {
  color: #F68176;
}

.phone-image {
  padding: 0 10%;
}

.phone-container {
  position: relative;
}

#phone {
  width: 75%;
  position: absolute;
  top: -25em;
  right: -26em;
}

.form-control {
  padding: 5%;
}

#email {
  background-color: #F68176;
  color: white;
  padding: 0 30px;
}

.links-container {
  margin: 20px 40px;
  padding: 3% 5%;
}

.links-container img {
  display: block;
  margin: 10% auto;
}

.laptop-container {
  margin: 10% 0;
}

.empty-space {
  height: 25em;
}

.kickstarter-container {
  position: relative;
  background-color: #F68176;
  padding: 15% 10% 10% 10%;
}

#laptop {
  width: 80%;
  position: absolute;
  top: -25em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.thankyou-container {
  text-align: right;
}

.thankyou-container h1 {
  color: white;
}

#kickstarterButton {
  width: 60%;
}

.message-container {
  padding: 20px 5%;
}

.message-container p {
  font-size: 18px;
}

.featured-container {
  text-align: center;
  margin: 10% 10% 15% 10%;
}

.rows-container {
  margin: 5%;
}

.each-company-logo {
  padding: 1%;
}