nav a {
  color: black;
}

.page-container {
  margin: 20px 60px;
}

.intro-signup-item {
  margin: 20% 5%;
}
.phone-image {
  padding: 0 10%;
}

.phone-image img {
   max-width: 100%;
}

.links-container {
  margin: 20px 40px;
}

.links-container img {
  display: block;
  margin: 10% auto;
}

.laptop-container img {
  display: block;
  margin: auto;
  max-width: 100%;
}